# Nebula配置
NEBULA_HOST=127.0.0.1
NEBULA_PORT=9669
NEBULA_USERNAME=root
NEBULA_PASSWORD=nebula
BUSINESSES=genshin

# RabbitMQ配置
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE_NEBULA=nebula_operations
RABBITMQ_QUEUE_MONGO=mongo_operations

# 应用配置
DEBUG=false